/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	font-family: verdana, sans-serif;
	font-size: 28px;
	margin: 0px;
	padding: 0px;
    height: 100%;
}

.watermark {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("/home/dev/Aptana Studio 3 Workspace/2011_09_logistics/public/images/bg_full.jpg");*/
    background-origin: padding-box;
    background-position: center center;
    background-repeat: repeat;
    background-size: 1040px 1471px;
    bottom: 0;
    height: 1471px;
    left: 0;
    position: absolute;
    right: 0;
    width: 1040px;
    z-index: -1000;
}	

#watermark1 {
    top: 0;
}	
h1, h2, p {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 53px;
	margin-bottom: 120px;
	font-weight: bold;
}
h2 {
	font-size: 42px;
	margin-bottom: 50px;
	font-weight: bold;
}
p {
	margin-bottom: 50px;
}
span.big {
	font-size: 33px;
	margin-right: 10px;
}
span.small {
	font-size: 17px;
}
.textfield {
	position: absolute;
	top: 770px;
	left: 115px;
}